# Linux
*~
*.swp

# Windows
Thumbs.db
desktop.ini

# Mac OS X
.DS_Store
._*

# Composer
/composer.phar
assets/
config/
content-sample/
themes/default/
plugins/
vendor/
.htaccess
CHANGELOG.md
composer.json
composer.lock
CONTRIBUTING.md
index.php
